version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_container
    restart: unless-stopped

    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: mi_base_datos
      MYSQL_USER: usuario
      MYSQL_PASSWORD: password123

    ports:
      - "3306:3306"

    volumes:
      - ./mysql_data:/var/lib/mysql

    networks:
      - mysql_network

    command: --default-authentication-plugin=mysql_native_password

networks:
  mysql_network:
    driver: bridge